---
title: Custom Page
layout: 'base.njk'
---
<div id="custom-page">
    <section class="py-4">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-12 col-lg-6">
                    <img src="https://images.pexels.com/photos/1996338/pexels-photo-1996338.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">This is a editable jumbo</h1>
                    <p class="lead">You can edit jumbo, change visibility and edit everything you want. Very beautiful feature :) Now I'm just write text to fill space.</p>
                    <div class="d-flex gap-2">
                        <a href="#" class="btn btn-success my-2 w-50">A button</a>
                        <a href="#" class="btn btn-outline-success my-2 w-50">Second One</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 
