---
title: Custom Page
layout: 'base.njk'
---

<section id="custom-page" class="py-4 bg-light">
    <div class="container">
        <div class="row">
            <h1>{{ collections.custompage[0].data.title }}</h1>
        </div>
    </div>
</section>
