---
title: Homepage
layout: 'base.njk'
---

<section id="home-jumbo" class="py-4">
    {% include 'home-jumbo.njk' %}
</section>

<section id="featured-articles" class="py-4">
    <div class="container">
        <div class="row">
            {%- for post in collections.featured -%}
                {% include 'article-card.njk' %}
            {%- endfor -%}
        </div>
    </div>
</section>
