---
title: Homepage
layout: 'base.njk'
---

<section id="jumbo" class="py-4">
    {% include 'jumbo.njk' %}
</section>

<section id="featured-articles" class="py-4">
    <div class="container">
        <div class="row">
            {%- for post in collections.post -%}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card article-card">
                        <img src="{{post.data.image}}" class="card-img-top" alt="{{post.data.titleAlt}}">
                        <div class="card-body">
                            <h5 class="card-title">{{post.data.title}}</h5>
                            <h6 class="card-subtitle">{{post.data.subtitle}}</h6>
                            <p class="card-text">{{post.data.description}}</p>
                            <a href="#" class="btn btn-success">Read Article</a>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
