---
title: Homepage
layout: 'base.njk'
---
    {% include 'jumbo1.njk' %}

<section id="featured-articles" class="py-4 bg-light    ">
    <div class="container">
        <div class="row">
            {%- for post in collections.featured -%}
                {% include 'article-card.njk' %}
            {%- endfor -%}
        </div>
    </div>
</section>
