/* this to get nac sticky property working (making nav looking like the parent element to the browser) */
header {
    display: contents;
}

/* custom container for article snippets */
.custom-container {
    max-width: 1320px;
    margin: 0 auto;
}

/* article page  */
.article-back-btn {
    position: fixed;
    left: -10px;
    top: 50%;
}

.main-article .image-bg {
    max-height: 300px;
}

.main-article .image-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hover effects */
/* .article-snippet {
    transition: all 0.1s ease-in;
}

.article-snippet:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    cursor: pointer;
} */